@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Dimensions  */
    --width-full: 100%;
    --width-12col: 1200px; 
    --width-6col: 600px;

    /* grid settings */
    --grid-gap: 10px;
    --padding-default:20px;

    /* colours */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg:#111111;
    --primary-color:#bf5b23;
    --secondary-color:#ffffff;
    --color_black: #373737;
    --color-light:#ebebeb;
    --color-grey: #ffffffb3;
   
    /* color swatches */
    --category-seafood: #3e30e2;
    --category-chicken: #249cbe;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9A951E;
    --category-pasta: #BF5B23;
    
}

/* reset css */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* it forces the box to not expand */
}



body,html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);

}

.navigation, .hero, .image-section, .footer {
    width: var(--width-full);
}

.todays_recipes, .categories, .content-area{

    width: var(--width-12col);

}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding:30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;


}

.navigation.fixed {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100%;

}

.menu-container{
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;

}

.menu-container a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--background-color-light);
    text-transform: uppercase;
    

}

.menu-container ul li{
    border-right: 1px solid var(--background-color-light);

}


.menu-container ul li:last-child {
border-right: none;

}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.clicked {

    color: var(--primary-color) !important;
}

.hero{
    background-image: url("https://picsum.photos/1200/800");
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
    margin: 0 0 15px 0;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}

.hero-text {
    grid-column: 1 / span 4 ;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text h1 {
    padding: 0;  /* redundant DRY*/ 
    margin: 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight:400;

}

.hero-text h1 span{
    font-weight: 900;
    font-size: 32px;
}

.hero-text p {
    font-size: 14px;

}

.search-box {
    grid-column: 2 / span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
    
}

.search-input {

    background-color: transparent;
    padding: 10px 20px 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 10px 0;
}

.search-input::placeholder {
    color: var(--background-color-light);
}

/* todays recipes area start */

.todays_recipes {

    width: var(--width-12col);
    height: fit-content;
    display:grid;
    grid-template-columns: 1;
    grid-template-rows:130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;

}

.todays_recipes_headline {

    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin-top: 70px;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.todays_recipes_content_block_image img {

    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.todays_recipes_content {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.todays_recipes_content_block {

    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.todays_recipe_content_block_text {

    padding: 20px;
    color: var(--color_black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipe_content_block_text h5 {
    
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;

}

.todays_recipe_content_block_text p {

    font-size: 16px;

}

.todays_recipes_content_block_bottom_area {

    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

.todays_recipes_content_block_bottom_area_left {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;

}

.todays_recipes_content_block_bottom_area_left p {

    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;

}

.todays_recipes_content_block_bottom_area_left p:last-child {

    font-weight: 800 ;
}

.todays_recipes_content_block_bottom_area_right_button button {

    background-color: var(--color_black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px;
}

.todays_recipes_content_block_bottom_area_right_button button a {

   color: var(--color-light);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 400;
}

/* data category colors start*/

div[data-category="veg"] {

    color:  var(--category-veg);
}

p[data-category="veg"] {


    color:var(--category-veg);
}

div[data-category="seafood"] {


    border-left: 1px solid  var(--category-seafood);
}

div[data-category="seafood1"] {


    color:  var(--category-seafood);
}


p[data-category="seafood"] {


    color:var(--category-seafood);
}

div[data-category="chicken"] {

    border-left: 1px solid var(--category-chicken);
}

div[data-category="chicken1"] {

   color:  var(--category-chicken);
}


p[data-category="chicken"] {


    color:var(--category-chicken);
}


div[data-category="dessert"] {

    border-left: 1px solid var(--category-dessert);
}

p[data-category="dessert"] {


    color:var(--category-dessert);
}


div[data-category="beef/pork"] {

    border-left: 1px solid var(--category-meats);
}

p[data-category="beef/pork"] {


    color:var(--category-meats);
}


div[data-category="snack"] {

    color:  var(--category-misc);
}

p[data-category="snack"] {

    color:var(--category-misc);
}

div[data-category="pasta"] {

    color:  var(--category-pasta);
}

p[data-category="pasta"] {

    color:var(--category-pasta);
}

div[data-category="meats"] {

    color:  var(--category-meats);
}

p[data-category="meats"] {

    color:var(--category-meats);
}

div[data-category="dessert1"] {

    color:  var(--category-dessert);
}

p[data-category="dessert1"] {

    color:var(--category-dessert);
}



.category_selection_headline {

    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin-top: 100px;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}


.categories {

    width: var(--width-12col);
    height: fit-content;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:160px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;

}

.category_content_block {

    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column; 
    padding: 30px 10px;
    
}

.categories_content {
    display: flex;
    flex-direction: row;
    gap: 105px;
    justify-content: center;
    flex-wrap: wrap;
    

 
}

.categories_content_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    

}

.icons

{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 100px;
}


.image_section_cut {
    
    padding-top: 150px;
    height: 600px;
    
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
    margin: 0 0 15px 0;

}

.image_section_cut_image  {
    background-size: cover;
    background-image: url("https://picsum.photos/1200/800");
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-full);
    height: 100%;
}

.image-section-text {

    color: #249cbe;
    flex-direction: column;
    margin: 30px;
    text-align:left;
    display: flex;
    
}

.white-box {
    margin-top: 120px;
    border-radius: 5px;
    display: block;
    grid-column: 9 / 12;
    background-color: var(--background-color-light);
    height: 187px;
    width: 367px;
    
}

.image-section-text h4 {

    font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
}

.image-section-text h1 {

    font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color)
}

.image-section-text p {

    font-size: 16;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
}

.content_area {
    width: var(--width-12col);
    height: fit-content;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:160px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;


}
.content_area_headline {
 
    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin-top: 100px;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;

}

.content_area_blocks {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

.content_area_block1 {
    
    
    
    display: block;
    grid-column: 1 / 7;
    background-color: var(--background-color-light);
    height: 380px;
    grid-row: 1;
    /* width: 560px; */


}

.content_area_block1_text {
    
    flex-direction: column;
    padding-top: 50px;
    margin-left: 50px;
    text-align:left;
    display: flex;


}

.content_area_block1_text h5 {

font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
 border-left: 3px;
 
 
    
}

.content_area_block1_text h4 {

font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color);

}

.content_area_block1_text p {

font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
    max-width: 55%;

}

.content_area_block1_button{

    margin-top: 70px;
}
.content_area_block1_button button {
    background-color: var(--color_black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px; 
    width: 179px;

}

.content_area_block1_button button a {

   color: var(--color-light);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 400;
}


.content_area_block2 {
    
    
    
    display: block;
    grid-column: 7 / 13;
    background-color: var(--background-color-light);
    height: 380px;
    grid-row: 2;
    /* width: 560px; */
   


}

.content_area_block2_text {
    
    flex-direction: column;
    padding-top: 50px;
    margin-left: 50px;
    text-align:left;
    display: flex;


}

.content_area_block2_text h5 {

font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
 border-left: 3px;
 
 
    
}

.content_area_block2_text h4 {

font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color);

}

.content_area_block2_text p {

font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
    max-width: 55%;

}

.content_area_block2_button{

    margin-top: 70px;
}
.content_area_block2_button button {
    background-color: var(--color_black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px; 
    width: 179px;

}

.content_area_block2_button button a {

   color: var(--color-light);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 400;
}

.content_area_block3 {
    
    
    
    display: block;
    grid-column: 1 / 7;
    background-color: var(--background-color-light);
    height: 380px;
    grid-row: 3;
    /* width: 560px; */


}

.content_area_block3_text {
    
    flex-direction: column;
    padding-top: 50px;
    margin-left: 50px;
    text-align:left;
    display: flex;


}

.content_area_block3_text h5 {

font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
 border-left: 3px;
 
 
    
}

.content_area_block3_text h4 {

font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color);

}

.content_area_block3_text p {

font-size: 16px;
    margin-bottom: 10px;
    color: var(--background-color-dark-bg);
    max-width: 55%;

}

.content_area_block3_button{

    margin-top: 70px;
}
.content_area_block3_button button {
    background-color: var(--color_black);
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 12px; 
    width: 179px;

}

.content_area_block3_button button a {

   color: var(--color-light);
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 400;
}


/* data category colors end*/